.loader {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
}
.main {
      display: flex;

      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
}

.filtering-section {
      margin: 10px;
      display: flex;
      justify-content: center;
}

.filtering-form {
      display: flex;
      overflow-x: scroll;
      width: 100%;
      max-width: 1000px;
}
.filtering-form::-webkit-scrollbar {
      display: none;
}

select {
      font-weight: bold;
      font-size: 15px;
      background-color: white;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      color: black;
      margin: 5px;
      border: 1px solid black;
      text-align: center;
}

option {
      text-align: start;
}

.sort-filter {
      margin-left: auto;
}

.results {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-style: normal;
}

.products-section {
      flex-grow: 1;
      text-align: center;
      background-color: white;
      max-width: 1000px;
      width: 100%;
}

.product {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 16px;
      border-bottom: 1px solid #ccc;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
}
.product-image-and-info {
      display: flex;
      flex-grow: 1;
}

.product-image-container {
      width: 200px;
}

.product-image {
      max-width: 200px;
      height: fit-content;
      max-height: 100px;
}
.product-name {
      margin-bottom: 3px;
}
.product-link {
      display: flex;
      gap: 5px;
      align-items: center;
}
.product-link:hover {
      color: grey;
}

.product-information {
      text-align: start;
      flex-grow: 1;
      margin-left: 10%;
      display: flex;
}

.info {
      font-size: 0.9em;
      margin-left: 4px;
}

.price-add-to-cart {
      display: flex;
      margin-left: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.product-price {
      margin-top: 3px;
      font-weight: bold;
      color: #ad5502;
      font-size: 1.25rem;
}
.add-to-cart-button,
.cart-link {
      font-weight: bold;
      font-size: 15px;
      background-color: #0f98c6;
      width: 100px;
      height: 30px;
      display: block;
      border-radius: 20px;
      color: white;
      cursor: pointer;
}

.cart-link {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(12, 138, 12);
      color: white !important;
}

.pagination {
      display: flex;
      gap: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
}

.previous,
.next {
      padding: 4px;
      border-radius: 4px;
      border: 1px;
      color: #4d4d4d;
      border: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      font-size: 0.8em;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
}

.previous:hover,
.next:hover {
      background-color: #8a2b06;
      color: white;
}

.page-numbers {
      display: flex;
      gap: 3px;
}

.number {
      width: 28px;
      padding: 2px 0px 2px 0px;
      border-radius: 4px;
      gap: 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
}

.page-active {
      background-color: #8a2b06;
      color: white;
}

@media (max-width: 600px) {
      .product {
            padding-left: 0;
            padding-right: 0;
            margin: 10px;
      }
      .product-image,
      .product-image-container {
            max-width: 120px;
      }
      .product-name {
            font-size: 1em;
      }

      .add-to-cart-button,
      .cart-link {
            width: 70px;
            height: 22px;
            font-size: 0.8em;
      }

      .info {
            font-size: 0.8em;
      }
      .product-price {
            font-size: 1.1em;
      }
      .product-image-container {
            min-width: 120px;
      }
      select {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 0.8em;
      }
      .product-image {
            max-height: 90px;
      }
}

@media (max-width: 450px) {
      .info {
            padding: 2px;
            margin: 2px;
            display: inline-block;
            border: 2px solid lightblue;
            height: fit-content;
            display: inline-flex;
            width: fit-content;
            padding-top: 0;
            padding-bottom: 0;
      }
      /* .price-add-to-cart {
            display: flex;
      } */
      .product-information {
            flex-direction: column;
            margin-left: 5%;
      }
      .price-add-to-cart {
            margin-left: unset;
            height: 25px;
            flex-direction: row;
            margin-top: 10px;
            margin-right: 5px;
            gap: 3px;
      }

      .add-to-cart-form {
            height: 100%;
      }

      .product-price {
            font-size: 0.8em;
            background-color: #d24761;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      .product-price,
      .add-to-cart-form {
            flex-grow: 1;
            text-align: center;
            color: white;
            margin: 0;
            flex-basis: 100%;
      }
      .add-to-cart-button {
            width: 100%;
            font-size: 0.8em;
            height: 100%;
            border-radius: 0;
      }
      .cart-link {
            flex-grow: 1;
            border-radius: 0;
            height: 100%;
            flex-basis: 100%;
      }
}
