.loader {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
}
.main {
      display: block;
      font-style: italic;
}

.filtering-section {
      margin: 10px;
}

.filtering-form {
      display: flex;
      justify-content: space-between;
}

select {
      font-style: italic;
      font-weight: bold;
      font-size: 15px;
      background-color: white;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      color: black;
      margin: 5px;
      border: 1px solid black;
}

.products-section {
      flex-grow: 1;
      text-align: center;
      margin: 10px;
      background-color: white;
      padding: 10px;
      min-height: 100vh;
}

.product {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 16px;
      border-bottom: 1px solid #ccc;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
}

.product-image {
      height: 100px;
      width: 100px;
}
.product-name {
      margin-bottom: 3px;
}
.product-description {
      font-style: italic;
}

.product-price {
      margin-top: 3px;
      font-weight: bold;
      color: #ad5502;
      font-size: 1.25rem;
}
.add-to-cart-button {
      font-weight: bold;
      font-size: 15px;
      background-color: #8a2b06;
      width: 100px;
      height: 30px;

      border-radius: 20px;
      color: white;
      cursor: pointer;
}
