.address {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid rgb(219, 112, 19);
      margin: 5px;
      padding: 5px;
}

i {
      margin: 5px;
}

.navigation {
      display: flex;
}

.edit-address-button,
.delete-address-button {
      color: white;
      margin: 5px;
      font-size: 15px;
      height: 25px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      width: 80px;
}

.delete-address-button {
      background-color: red;
}
.edit-address-button {
      background-color: blue;
      text-decoration: none;
}
