.main {
      display: flex;
}

.empty-cart {
      height: calc(100svh - 50px);
      display: flex;
      align-items: center;
      justify-content: center;
}

.cart-products {
      width: 70vw;
      background-color: white;
      border-radius: 20px;
}
.product {
      display: flex;
      border-bottom: 1px solid #ccc;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
}

.product-image-and-info {
      display: flex;
      flex-grow: 1;
}

.product-image {
      width: 200px;
      height: fit-content;
}
.product-name {
      margin-bottom: 3px;
}

.product-information {
      text-align: start;
      flex-grow: 1;
      margin-left: 10%;
}

.product-image {
      width: 120px;
}
.product-name {
      margin-bottom: 3px;
}
.product-description {
      font-style: italic;
}
.container-one {
      display: flex;
}

.product-price {
      margin-top: 3px;
      font-weight: bold;
      color: #ad5502;
      font-size: 1.25rem;
}
.product-quantity {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin: 2px;
}

.container-3 {
      margin-left: auto;
}

.cart-product-action-buttons {
      display: flex;
}

.add-to-cart-form,
.remove-from-cart-form {
      display: inline-block;
}
.add-to-cart-button,
.remove-from-cart-button {
      width: 50px;
      height: 20px;
      font-weight: bold;
      font-size: 15px;
      background-color: #8a2b06;
      padding-left: 10px;
      padding-right: 10px;

      color: white;
      margin: 3px;
      cursor: pointer;
}

.cart-price-details {
      color: black;
      background-color: white;
      height: fit-content;
      margin: 10px;
      border-radius: 20px;
      flex-grow: 1;
      text-align: center;
      padding: 10px;
}

hr {
      height: 2px;
      border-bottom: 1px solid #ccc;
}

.detail {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
}

.value {
      font-weight: bold;
      color: #ad5502;
      font-size: 1.25rem;
}

.checkout-button {
      font-weight: bold;
      flex-grow: 1;
      font-size: 20px;
      background-color: #8a2b06;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 1px;
      padding-bottom: 1px;
      border-radius: 20px;
      color: white;
      margin: 3px;
      cursor: pointer;
}

@media (max-width: 1000px) {
      .main {
            flex-direction: column;
      }
      .cart-products {
            width: auto;
            background-color: white;
            border-radius: 20px;
      }

      .product {
            padding-left: 0;
            padding-right: 0;
            margin: 10px;
      }
      .product-image {
            width: 120px;
      }
      .product-name {
            font-size: 18px;
      }
      .info {
            font-size: 14px;
      }
      /* .add-to-cart-button,
      .remove-from-cart-button {
            width: 30px;
      } */
}
