.main {
      display: flex;
}

.error {
      height: calc(100svh - 50px);
      display: flex;
      align-items: center;
      justify-content: center;
}

.cart-products {
      width: 70vw;
      background-color: white;
      border-radius: 20px;
      text-align: center;
}
.product {
      display: flex;
      border-bottom: 1px solid #ccc;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
}

.product-image-and-info {
      display: flex;
      flex-grow: 1;
}

.product-image-container {
      width: 200px;
}

.product-link {
      display: flex;
      gap: 5px;
      align-items: center;
}
.product-link:hover {
      color: grey;
}

.product-name {
      margin-bottom: 3px;
}

.product-information {
      text-align: start;
      flex-grow: 1;
      margin-left: 10%;
}
.info {
      font-size: 0.9em;
      margin-left: 4px;
}

.product-image {
      max-width: 150px;
      height: fit-content;
      max-height: 100px;
}
.product-name {
      margin-bottom: 3px;
}
.product-description {
      font-style: italic;
}
.container-one {
      display: flex;
}

.product-price {
      margin-top: 3px;
      font-weight: bold;
      color: #ad5502;
      font-size: 1.25rem;
}
.product-quantity {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin: 2px;
}
.product-quantity-450px {
      display: none;
}
.container-3 {
      margin-left: auto;
}

.cart-product-action-buttons {
      display: flex;
}

.add-to-cart-form,
.remove-from-cart-form {
      display: inline-block;
}
.add-to-cart-button,
.remove-from-cart-button {
      width: 70px;
      height: 20px;
      font-weight: bold;
      font-size: 15px;
      background-color: #8a2b06;
      padding-left: 10px;
      padding-right: 10px;

      color: white;
      margin: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
}

.add-to-cart-button {
      background-color: #0f98c6;
}
.remove-from-cart-button {
      background-color: #cf2323;
}

.cart-price-details {
      color: black;
      background-color: white;
      height: fit-content;
      margin: 10px;
      border-radius: 20px;
      flex-grow: 1;
      text-align: center;
      padding: 10px;
}

hr {
      height: 2px;
      border-bottom: 1px solid #ccc;
}

.detail {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
}

.value {
      font-weight: bold;
      color: #ad5502;
      font-size: 1.25rem;
}

.checkout-button {
      font-weight: bold;
      flex-grow: 1;
      font-size: 20px;
      background-color: #8a2b06;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 1px;
      padding-bottom: 1px;
      border-radius: 20px;
      color: white;
      margin: 3px;
      cursor: pointer;
}

@media (max-width: 1000px) {
      .main {
            flex-direction: column;
      }
      .cart-products {
            width: auto;
            background-color: white;
            border-radius: 20px;
      }

      .product {
            padding-left: 0;
            padding-right: 0;
            margin: 10px;
      }
      .product-image {
            max-width: 120px;
      }

      .product-image-container {
            max-width: 120px;
            min-width: 120px;
      }
}

@media (max-width: 600px) {
      .product-information {
            margin-left: 3%;
      }
      .product-image {
            max-height: 90px;
            max-width: 120px;
      }
      .product-name {
            font-size: 1em;
      }
      .info {
            font-size: 0.8em;
      }
      .add-to-cart-button,
      .remove-from-cart-button {
            width: 60px;
      }
      .product-quantity {
            font-size: 1.2em;
      }
}

@media (max-width: 450px) {
      .container-one {
            flex-direction: column;
            gap: 5px;
      }
      .container-two {
            display: flex;
            flex-wrap: wrap;
            gap: 2px;
            margin-top: 5px;
            margin-bottom: 5px;
      }
      .container-3 {
            margin-left: 0;
            display: flex;
            justify-content: end;
            margin-bottom: 5px;
      }
      .product-quantity {
            display: none;
      }
      .product-quantity-450px {
            display: block;
            font-size: 0.9em;
            flex-basis: 100%;
      }
      .cart-product-action-buttons {
            align-items: center;
            width: 100%;
      }
      .add-to-cart-button,
      .remove-from-cart-button {
            width: 100%;
            margin: 0;
      }
      .add-to-cart-form,
      .remove-from-cart-form {
            flex-basis: 100%;
      }
      .info {
            border: 2px solid lightblue;
            padding-left: 2px;
            padding-right: 2px;
      }
}
