.nav-bar {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-style: italic;
      background-color: brown;
}
.logo {
      margin: 10px;
      letter-spacing: 3px;
      color: cyan;
}

.search-bar {
      width: 30vw;
      height: 30px;
      border-radius: 15px;
      outline: none;
      padding-left: 15px;
}

.nav-link {
      text-decoration: none;
      color: white;
      margin: 10px;
}

.cart-link {
      position: relative;
      padding: 5px;
      border-radius: 15px;
      background-color: black;
}
.cart-items-count {
      position: absolute;
      right: 0;
      top: -25%;
}

@media (max-width: 1000px) {
      .logo {
            font-size: 20px;
      }

      .nav-link {
            font-size: 13px;
      }
}
