.address-details {
      display: flex;
      flex-direction: column;
      padding: 10px;
      height: 500px;
      background-color: bisque;
      justify-content: space-between;
      width: 300px;
}

.input {
      margin: 3px;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid brown;
}
