body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

* {
      box-sizing: border-box;
      margin: 0;
      border: none;
      text-decoration: none;
      font-family: "Segoe UI";
      padding: 0;
}
a:visited,
a:active,
a,
a:hover {
      color: inherit;
}

code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
}

body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
}

body::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: brown;
}
