body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

* {
      box-sizing: border-box;
      margin: 0;
      border: none;
      text-decoration: none;
      font-family: "Segoe UI";
      font-style: italic;
      padding: 0;
}

code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
}
