.main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 50px);
}

.my-account {
      border-radius: 10px;
      background-color: bisque;
      margin: 10px;
      display: flex;
      width: 60%;
      height: 70%;
}

.options {
      display: flex;
      flex-direction: column;
      background-color: brown;
}

.option {
      padding: 5px;
      font-weight: bold;
      color: white;
}
.active {
      background-color: bisque;
      color: black;
}

.option:hover {
      background-color: bisque;
      color: black;
}

@media (max-width: 1000px) {
      .my-account {
            width: 95%;
            display: flex;
            flex-direction: column;
            height: 80%;
      }
      .options {
            flex-direction: row;
      }
}
