.main {
      display: flex;
      flex-direction: column;
}

.headline-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("../../assests/homeImage.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100vh;
}
.headline {
      color: white;
      font-size: 32px;
      margin: 5px;
}

.products-link {
      color: white;
      padding: 5px;
      background-color: black;
      border-radius: 15px;
      font-size: 20px;
      margin: 5px;
}

.advantages {
      display: flex;

      flex-direction: column;
      align-items: center;
}

.advantage {
      color: black;
      padding: 10px;
      height: 200px;
      width: 200px;
      margin: 5px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;
}

.footer {
      height: 200px;
      background-color: bisque;
      display: flex;
      color: black;
      justify-content: space-around;
      text-align: center;
}

.type-heading {
      color: #ad5502;
}

.quick-link {
      display: block;
      color: black;
      margin: 2px;
}

.type {
      margin: 10px;
}
